<body>

<div>
  <div class = "row">
    <div class = "col-xs-2"></div>
    <div class = "col-xs-8">
      <p><font size = "4">Collection Tracker is for people with large collections of sneakers or other items that you wear or use. If you have a lot of shoes, some will sit for years without being worn because you forget about them. But if you have them, mind as well wear them. This website lets you see your entire collection, and when you select a pair and press the "wear today" button, that day's date is added to those sneakers in a database. And that pair will automatically go to the bottom of your collection if you sort by date (default). You can also sort your collection by brand, model or colour.</font>
      </p>
    </div>
    <div class = "col-xs-2"></div>
  </div>
</div>


</body>
