<body>

<div>
  <div class = "row">
    <div class = "col-xs-2"></div>
    <div class = "col-xs-8">
      <p><font size = "4">Collection Tracker is for people with large collections of sneakers or other items that you wear or use. It lets you see you entire collection, and when you select an item and press the "wear today" button, that day's date is added to the item. The item will then automatically go to the bottom of your collection if you sort by date (the default). You can also sort your collection by brand, model or colour. </font>
      </p>
    </div>
    <div class = "col-xs-2"></div>
  </div>
</div>


</body>
