<body>



<div class = "wrapper">
 
<div>
  <div *ngIf="oneItem">
    <div><img src={{oneItem.itemImageURL}} max-width=30% height="auto"></div>
  </div> 
</div>

<div>
  <div *ngIf="oneItem">
    <h2 class="font-red"> {{ oneItem.itemBrand }} {{ oneItem.itemModel }} {{ oneItem.itemDescription }} </h2> 
  </div> 
</div>

<div>
  <form (submit)="onWearTodaySubmit()" class="form-inline my-2 my-lg-0">
    <button class="btn btn-secondary btn-lg margin-bottom black-border" type="submit"><h4>Wear Today</h4></button>
  </form>
</div>

<div *ngIf="!wornBefore">
  <h4>You have not worn this item</h4>
</div>

<div *ngIf="wornBefore">
  <h4>You wore this item on the following dates:</h4>
</div>

<div>
  <div *ngIf="wornBefore">
    <div *ngFor="let wornDateString of wornDatesStrings; let i = index">
      <h5> {{ wornDateString }} </h5>
    </div>
  </div> 
</div>

</div>

<div class="wrapper2">

<div>
  <form (submit)="onDeleteItemSubmit()" class="form-inline my-2 my-lg-0">
    <button class="btn btn-secondary btn-sm margin-bottom grey-border" type="submit"><h5 class="font-lightgrey">Delete Item</h5></button>
  </form>
</div>


</div>

</body>