<body>



<div class="wrapper">
  <div *ngIf="oneItem">
    <img class="responsive" src={{oneItem.itemImageURL}}>
  </div>
</div>

<div class = "wrapper">
<div>
  <form (submit)="onWearTodaySubmit()" class="form-inline my-2 my-lg-0">
    <button class="btn btn-secondary margin-bottom black-border" type="submit"><h4>Wear Today</h4></button>
  </form>
</div>
</div>

<div class = "wrapper">
 
<div>
  <div *ngIf="oneItem">
    <h2> {{ oneItem.itemBrand }} {{ oneItem.itemModel }} {{ oneItem.itemDescription }} </h2> 
  </div> 
</div>

<div *ngIf="!wornBefore">
  <h4>You have not worn this item</h4>
</div>

<div *ngIf="wornBefore">
  <h4>You wore this item on the following dates:</h4>
</div>

<div>
  <div *ngIf="wornBefore">
    <div *ngFor="let wornDateString of wornDatesStrings; let i = index">
      <h4> {{ wornDateString }} </h4>
    </div>
  </div> 
</div>

</div>

<div class="wrapper">

<div>
  <form (submit)="onDeleteItemSubmit()" class="form-inline my-2 my-lg-0">
    <button class="btn btn-secondary btn-sm margin-bottom grey-border" type="submit"><h5 class="font-lightgrey">Delete Item</h5></button>
  </form>
</div>


</div>

</body>