<body>

<div class="container">
  <div class="gallery">

    <div *ngFor="let item of items; let i = index">

      <div class="gallery-item">
      <a href="" onClick="return false;">
        <span (click)="onItemClick(item, i)"><img class="gallery-image" src={{item.itemImageURL}}></span>
      </a>
      </div>
      <div class="gallery-number">
        {{item.dateWornString.length}} 
      </div>
      <div class="gallery-number">
        <a href="" onClick="return false;">
          <span (click)="onWearTodaySubmit(item, i)">Wear</span>
        </a>
      </div>
    </div>
    
  </div>
</div>

<hr>

<div class = "wrapper3">
  <div> 
    <a href="" onClick="return false;">
      <span (click)="onPreviousClick()">  < Previous </span>
    </a>
  </div>

  <div class = "wrapper3">
    <div><p> Page {{ currentPage }} of {{ numPages }} </p></div>  
  </div>

  <div> 
    <a href="" onClick="return false;">
      <span (click)="onNextClick()"> Next > </span>
    </a>
  </div>

</div>


</body>

