<body>

<div class = "wrapper3">
  <div *ngFor="let searchParam of searchParams; let k = index">
    <div> 
      <a href="" onClick="return false;">
        <span (click)="onSortClick(searchParam)"> {{searchParam }} </span>
      </a>
    </div>
  </div>
</div>



<div class="container">
  <div class="gallery">

    <div *ngFor="let item of items; let i = index">
      <div class="gallery-item">
      <a href="" onClick="return false;">
        <span (click)="onItemClick(item, i)"><img class="gallery-image" src={{item.itemImageURL}}></span>
      </a>
      </div>
    </div>

    
  </div>
</div>


<div class = "wrapper3">
  <div> 
    <a href="" onClick="return false;">
      <span (click)="onPreviousClick()">  < Previous </span>
    </a>
  </div>

  <!-- 
  <div *ngFor="let indexPage of indexPages; let j = index">
    <div> 
      <a href="" onClick="return false;">
        <span (click)="onIndexClick(j)"> {{ indexPage }} </span>
      </a>
    </div>
  </div>
  -->
  <div> 
    <a href="" onClick="return false;">
      <span (click)="onNextClick()"> Next > </span>
    </a>
  </div>

</div>


</body>

