<body>

<div class="container">
  <div class="gallery">

    <div *ngFor="let item of items; let i = index">

      <div class="gallery-item">
      <a href="" onClick="return false;">
        <span (click)="onItemClick(item, i)"><img class="gallery-image" src={{item.itemImageURL}}></span>
      </a>
      </div>
      <div class="gallery-number">
        {{item.dateWornString.length}} 
      </div>
      <div class="gallery-number">
        <a href="" onClick="return false;">
          <span (click)="onWearTodaySubmit(item, i)">Wear</span>
        </a>
      </div>
    </div>
    
  </div>
</div>

<hr>

</body>
